# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Uploads (optional)
static/uploads/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db


# Flask / SQLite
instance/
*.db
